[submodule "CHXPas"]
	path = CHXPas
	url = https://github.com/Chixpy/CHXPas.git
[submodule "Emuteca.wiki"]
	path = Emuteca.wiki
	url = https://github.com/Chixpy/Emuteca.wiki.git
[submodule "PascalScript"]
	path = PascalScript
	url = https://github.com/remobjects/pascalscript.git
[submodule "VirtualTreeView"]
	path = VirtualTreeView
	url = https://github.com/blikblum/VirtualTreeView-Lazarus.git
