@charset "utf-8";

// Variables principales
$background-color: rgb(224, 224, 255);
$margin: 20px;

body {
  background-color: $background-color;
  
  text-align: justify;
}

h1, h2, h3 {
  font-variant: small-caps;
}

li {
  text-indent: 0;
}

dt {
  font-weight: bold;
}

.PageContent {
  display: block;
  position: absolute;
  top: 0;
  left: 150px;
  right: 0;
  
  margin: 0 $margin;
  
  padding: 0 $margin;
  text-indent: -$margin;
}

.PageVersion {
  display: block;
  float: right;
  
  background-color: #fff;
  text-color: #000;
  border: 1px solid #000;
  
  text-align: center;
  
  margin: 0 $margin;
  
  padding: 0 $margin;
}