@charset "utf-8";

// Variables principales

.SiteFooter {
  display: block;
  clear: both;
  
  background: url("/Emuteca/img/Header.png");
  background-repeat: no-repeat;
  background-position: bottom;
  
  border-color: #000;
}