.SiteHeader {
  clear: both;

  background: url("/Emuteca/img/Header.gif");
  background-repeat: no-repeat;
  background-position: top;  
   
  font-size: bigger;
  text-align: center;
  text-align-last: left;
}

.SiteHeader .SiteTitle{
  font-size: bigger;
}

.SiteHeader .SiteDesc {
}

.SiteHeader .SiteHeaderIcon {
  clear: left;
  float: left;
  
  width: 15%;
}

.SiteHeader .SiteHeaderIcon .SiteIcon {
  width: 100%;
}