.SiteHeader {
  clear: both;

  background: url("{{ site.baseurl }}/img/Header.gif");
  background-repeat: no-repeat;
  background-position: top;  
   
  font-size: bigger;
  text-align: center;
}

.SiteHeader .SiteHeaderIcon {
  clear: left;
  float: left;
  
  width: 15%;
}

.SiteHeader .SiteHeaderIcon .SiteIcon {
  width: 100%;
}