.SiteHeader {
  clear: both;

  background: url("img/Header.gif");
  background-repeat: no-repeat;
  background-position: top;  
   
  font-size: bigger;
}

.SiteHeader .SiteHeaderIcon{
  clear: left;
  float: left;
  
  width: 20%;
}